.<div class="jumbotron">
    <h1 class="display-3 text-center">Equipe</h1>
    <hr>
    <!-- Carla -->
    <div class="row mb-5">
        <div class="col-md-4">
            <div class="row">
                <img src="assets/img/carla.jpg" alt="Imagem da Carla" class="rounded-circle mx-auto">
            </div>
            <div class="tm-social d-flex justify-content-center">
                <div class="row">
                    <a href="https://www.linkedin.com/in/carla-carvalho-de-lima-65b92bbb/" target="_blank"><img src="assets/img/linkedin.png" alt=""  class="p-3 zoom" width="80px"></a>
                    <a href="https://github.com/CarlaCarvaLima" target="_blank"><img src="assets/img/github.png" alt="" class="p-3 zoom" width="80px"></a>
                </div>
            </div>
        </div>
        <div class="col-md-8 d-flex justify-content-center flex-column">
            <h3>Carla Carvalho de Lima</h3>
            <h5>Fullstack Developer Jr.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quae aspernatur minus ea officiis nisi voluptas corrupti autem adipisci maiores placeat eaque, architecto quisquam fugiat nulla aliquam sit corporis ipsum!</p>
        </div>
    </div>
    <!-- /Carla -->
    <!-- Mathielo -->
    <div class="row mb-5">
        <div class="col-md-4">
            <div class="row">
                <img src="assets/img/mathielo.jpg" alt="Imagem do Mathielo" class="rounded-circle mx-auto">
            </div>
            <div class="tm-social d-flex justify-content-center">
                <div class="row">
                    <a href="https://www.linkedin.com/in/gustavo-mathielo-198247129/" target="_blank"><img src="assets/img/linkedin.png" alt=""  class="p-3 zoom" width="80px"></a>
                    <a href="https://github.com/gustavomathielo" target="_blank"><img src="assets/img/github.png" alt="" class="p-3 zoom" width="80px"></a>
                </div>
            </div>
        </div>
        <div class="col-md-8 d-flex justify-content-center flex-column">
            <h3>Gustavo Mathielo</h3>
            <h5>Fullstack Developer Jr.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quae aspernatur minus ea officiis nisi voluptas corrupti autem adipisci maiores placeat eaque, architecto quisquam fugiat nulla aliquam sit corporis ipsum!</p>
        </div>
    </div>
    <!-- /Mathielo -->
    <!-- Olegario -->
    <div class="row mb-5">
        <div class="col-md-4">
            <div class="row">
                <img src="assets/img/olegario.jpeg" alt="Imagem do Olegário" class="rounded-circle mx-auto">
            </div>
            <div class="tm-social d-flex justify-content-center">
                <div class="row">
                    <a href="https://www.linkedin.com/in/gustavo-oleg%C3%A1rio-de-sousa-5223b2194/" target="_blank"><img src="assets/img/linkedin.png" alt=""  class="p-3 zoom" width="80px"></a>
                    <a href="https://github.com/olegario-gu" target="_blank"><img src="assets/img/github.png" alt="" class="p-3 zoom" width="80px"></a>
                </div>
            </div>
        </div>
        <div class="col-md-8 d-flex justify-content-center flex-column">
            <h3>Gustavo Olegário de Sousa</h3>
            <h5>Fullstack Developer Jr.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quae aspernatur minus ea officiis nisi voluptas corrupti autem adipisci maiores placeat eaque, architecto quisquam fugiat nulla aliquam sit corporis ipsum!</p>
        </div>
    </div>
    <!-- /Olegario -->
    <!-- Vanessa -->
    <div class="row mb-5">
        <div class="col-md-4">
            <div class="row">
                <img src="assets/img/vanessa.jpg" alt="Imagem da Vanessa" class="rounded-circle mx-auto">
            </div>
            <div class="tm-social d-flex justify-content-center">
                <div class="row">
                    <a href="https://www.linkedin.com/in/vanessa-regina-silva-97344373/" target="_blank"><img src="assets/img/linkedin.png" alt=""  class="p-3 zoom" width="80px"></a>
                    <a href="https://github.com/vanmtv" target="_blank"><img src="assets/img/github.png" alt="" class="p-3 zoom" width="80px"></a>
                </div>
            </div>
        </div>
        <div class="col-md-8 d-flex justify-content-center flex-column">
            <h3>Vanessa Regina de Jesus da Silva</h3>
            <h5>Fullstack Developer Jr.</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quae aspernatur minus ea officiis nisi voluptas corrupti autem adipisci maiores placeat eaque, architecto quisquam fugiat nulla aliquam sit corporis ipsum!</p>
        </div>
    </div>
    <!-- /Vanessa -->
</div>